{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <h1>Bienvenue sur notre site internet</h1>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
